
BasedOnStyle: LLVM
IndentWidth: 2
NamespaceIndentation: All
ColumnLimit: 80

Language: Cpp
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
PenaltyBreakBeforeFirstCallParameter: 50
AlignOperands: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

IncludeCategories:
  - Regex:           '^"[^/]+\"'
    Priority:        10
  - Regex:           '^"cling/'
    Priority:        20
  - Regex:           '^"clang/'
    Priority:        30
  - Regex:           '^"llvm/'
    Priority:        40
  - Regex:           '^<'
    Priority:        50
